<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css">

    <title>Jira Tasks</title>
</head>

<body>
    <div class="container pt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" width="100px">To Do</th>
                    <th scope="col" width="100px">In Progress</th>
                    <th scope="col" width="100px">To Review</th>
                    <th scope="col" width="100px">Done</th>
                </tr>
            </thead>
            <tbody>
                {{range .Users}}
                {{if .}}
                <tr>
                    <th scope="row">
                        <img src="{{.Avatar}}" height="32px" class="rounded float-left pr-2">
                        {{.Name}}
                    </th>
                    <td>{{.ToDo}}</td>
                    <td>{{.InProgress}}</td>
                    <td>{{.ToReview}}</td>
                    <td>{{.Done}}</td>
                </tr>
                {{end}}
                {{end}}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        setTimeout(function () { location.reload(1); }, 300000);
    </script>
</body>

</html>
